form {
  padding: 2rem 3rem;
  margin: 3rem auto;
  width: 80%;
  background: var(--gray);
  border-radius: var(--borderRadius);
}

label {
  display: block;
  font-size: smaller;
  margin: 0.6rem 0 0.3rem 0;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.datePicker,
select {
  cursor: pointer;
}

select {
  background: var(--primary);
}

input,
textarea {
  width: 100%;
  padding: 0.6rem 0.8rem;
  border-radius: var(--borderRadius);
  background: var(--primary);
  border: 1px solid var(--gray);
}

textarea {
  height: 7rem;
  max-width: 100%;
}

::placeholder {
  font-family: inherit;
  color: var(--gray);
}

.form-alert {
  color: var(--accent);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
