*,
::before,
::after {
  box-sizing: border-box;
}

/*Font import*/
/* @import url(""); 
@font-face {
}*/

:root {
  /*colours*/
  --primary: hsl(49, 35%, 82%);
  --secondary: hsl(192, 20%, 25%); /* 30% */
  --accent: hsl(5, 99%, 51%); /* 10% */
  /*rest of the colours*/
  --black: hsl(0, 0%, 13%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(217, 10%, 25%);
  --red-dark: hsl(355, 61%, 32%);
  --green-dark: hsl(152, 83%, 14%);
  --blue-dark: hsl(239, 86%, 31%);

  /*fonts*/
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%; /* 10px on default browser settings */
  /*font-size: 100%; /* 16px */
  --font-color: var(--secondary);
  --letterSpacing: 1px;

  /*other*/
  --border: 1px solid var(--accent);
  --borderRadius: 0.8rem;
  --transition: 0.3s ease-in-out all;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* 
  for smooth scroll
  na sta se scroll-uje kako navbar ne bi smetao
  #neki_id {
    scroll-margin-top: 100px - nav height
  }
*/

body {
  background: var(--primary);
  color: var(--font-color);
  font-size: clamp(1.2rem, calc(0.7vw + 1rem), 1.6rem);
  font-weight: 400;
}

.app {
  width: 100%;
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  text-wrap: balance;
}

/* https://typescale.com/ */
h1 {
  margin-top: 0;
  font-size: clamp(3rem, calc(3vw + 1rem), 5rem);
}

h2 {
  font-size: clamp(2.2rem, calc(2vw + 1rem), 3rem);
}

h3 {
  font-size: clamp(1.6rem, calc(1.6vw + 1rem), 2.2rem);
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.4rem;
}

p,
li,
figcaption {
  max-width: 65ch /*40em*/;
  /* ima na body font size */
  /*font-size: 1.6rem;*/
}

a {
  color: var(--accent);
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  color: var(--secondary);
}

ul {
  list-style: none;
  padding: 0;
}

.addJobBtn {
  cursor: pointer;
  border-radius: var(--borderRadius);
  font-weight: 600;
  letter-spacing: var(--letterSpacing);
  padding: 0.8rem 1rem;
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
  /* Prevent selecting the text */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
  color: var(--secondary);
  background: var(--primary);
  border: none;
  margin-bottom: 2rem;
}

.addJobBtn:hover {
  opacity: 0.8;
}

.addJobBtn:focus,
.addJobBtn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.searchInput {
  margin-bottom: 1rem;
}

select {
  padding: 0.6rem;
}

.loginButtons {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.loginButtons .addJobBtn {
  margin-bottom: 0;
}

.loginContainer {
  text-align: center;
}

/* Device Breakpoints */
/*  if not using 62.5 for font size - and you should not be using it
    should be using em not px
    62.5em = 1000px 
    @media (width < 62,5em) {
      ....
    }
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--font-color);
    color: var(--primary);
  }

  a:hover {
    color: var(--primary);
  }

  .btn {
    color: var(--secondary);
  }

  .btn:hover {
    background: var(--secondary);
    color: var(--accent);
  }
  .btn-second {
    color: var(--accent);
    background: var(--secondary);
  }
  .btn-second:hover {
    color: var(--secondary);
    background: var(--accent);
  }
}

@media (prefers-color-scheme: light) {
  .form {
    background: var(--secondary);
    color: var(--primary);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}
